* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-image: url(img/bg.png);
}
img {
  max-width: 150px;
  border-radius: 50%;
}
img:hover {
  box-shadow: 0 0 6px 6px green;
}
h1 {
  padding: 30px;
  text-align: center;
  color: white;
}
button {
  width: 100px;
  height: 50px;
  background-color: lime;
  border-radius: 10px;
  border: 2px solid green;
  position: absolute;
  top: 20px;
  right: 10px;
  cursor: pointer;
}
.container {
  margin: auto;
  margin-top: 10px;
  height: 450px;
  width: 80%;
  position: relative;
}
.area-komputer {
  background-color: chartreuse;
  height: 50%;
  border: 5px solid white;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  top: 0;
  right: 0;
  left: 0;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.area-komputer img {
  margin: 0 auto;
}
.info {
  width: 260px;
  height: 60px;
  border: 5px solid black;
  position: absolute;
  background-color: white;
  border-radius: 30px;
  z-index: 1;
  text-align: center;
  line-height: 50px;
  color: #f89bb4;
  font-size: 26px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.area-player {
  background-color: lightseagreen;
  height: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border: 5px solid white;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

ul {
  display: flex;
  justify-content: space-around;
}
ul li {
  list-style: none;
  padding: 50px 0;
}
ul li img {
  cursor: pointer;
}

/* responsive */
@media (min-width: 617px) {
  .info {
    left: 50%;
    margin-left: -130px;
    margin-top: -30px;
    top: 50%;
  }
}

@media (min-width: 500px) and (max-width: 616.98px) {
  img {
    width: 120px;
  }
  .info {
    left: 50%;
    margin-left: -130px;
    margin-top: -40px;
    top: 50%;
  }
}

@media (max-width: 499.98px) {
  img {
    width: 70px;
  }
  button {
    width: 70px;
    height: 30px;
    top: 5px;
    left: 2px;
  }
  .container {
    height: 300px;
  }
  .info {
    width: 34%;
    height: 30px;
    top: 45%;
    left: 33%;
    font-size: 16px;
    line-height: 22px;
  }
}

@media (max-width: 300px) {
  img {
    width: 60px;
  }
  button {
    width: 70px;
    height: 30px;
    top: 5px;
    left: 2px;
  }
  .container {
    height: 300px;
  }
  .info {
    width: 40%;
    height: 30px;
    top: 45%;
    left: 30%;
    font-size: 16px;
    line-height: 22px;
  }
}
